@model Smyrna_Prototype.Models.CustomerReview

<html>
<head>
    <link href="~/css/morph.css" rel="stylesheet" />
</head>

<h1>Customer Reviews</h1> <!--Page Heading-->
<body class="produce">

    <ul style="padding-right: 40px">
        <!--foreach to show the products-->
        @foreach (var review in Model.CustomerReviews)
        {
            <li style="display: inline-block;">
                <br />
                <div class="container" style="border: solid; background: #D9E3F1; border-radius: 30px; width: fit-content; height: fit-content;">
                    <div class="content" style="padding: 20px;">
                        <h6>Review Date: @review.Date.Date.ToShortDateString()</h6>
                        <h6>Review Posted: @review.IsPosted</h6>
                        <h6>Reviewed By: @review.FirstName, @review.LastName</h6>
                        <p>@review.Review</p>
                        <p>@review.ReviewId</p>
                        <p><a class="btn btn-sm" asp-controller="Services" asp-action="PostReview" asp-route-id="@review.ReviewId">Post Review</a></p>
                        <p><a class="btn btn-sm" asp-controller="" asp-action="" asp-route-id="">Delete Review</a></p>
                    </div>
                </div>
            </li>
        }
    </ul>
</body>
</html>

